@import url("header.css");
@import url("footer.css");
/*Se aplica lo siguiente siempre para que quede en cero.*/
* {
	margin:0;
	padding:0;
}

html, body {
	background:#ffffff;
	height: 100%;
	margin: 0;
	}
main{
    /*background-image: url('/assets/img/FondoD.png');  Ruta relativa a la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    color: rgb(0, 0, 0); /* Texto en blanco para que se lea mejor sobre el fondo */
    background-size: cover; /* Escala la imagen para que cubra todo el contenedor */
    
}
.main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2); /* Color semitransparente negro */
    z-index: 1; /* Coloca la superposición detrás del contenido */
}
.main > * {
    position: relative;
    z-index: 2; /* Asegura que el contenido esté encima de la superposición */
}
.content {
    padding: 10px;
}
.carousel-container {
    width: 400px; /* Ancho fijo del contenedor */
    height: 200px; /* Alto fijo del contenedor */
    max-width: 100%; /* Responsivo */
    margin: auto;
    position: relative;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.carousel-slides img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para que cubra todo el contenedor */
    border-radius: 10px;
}

.carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}



/* Paginación del carrusel */
.carousel-dots {
    display: flex;
    justify-content: center; /* Asegura que los puntos estén centrados */
    position: absolute;
    bottom: 10px;
    width: 100%; /* Ocupa todo el ancho del contenedor */
	
    left: 0;
    z-index: 1;
}

.carousel-dots span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: #96b6f7;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-dots .active {
    background-color: #717171;
}

/* Contenedor del botón */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.des{
    color: #333;
    margin: 10px 25px 10px 25px;
    padding: 20px;
    text-align: center;
    font-size: 18px;
}


.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    padding: 15px;
}

.burger {
    display: none;
}

.banner-bg {
  position: relative;
  background-image: url('/assets/img/Secundario.jpg');
  background-size: cover;
  background-position: center;
  width: 90%;  
  height: 400px;
  overflow: hidden;
}

.banner-bg .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* oscurecer fondo */
  z-index: 1;
}

.banner-bg .contenido {
  z-index: 2;
}

.ratio_personal {
  width: 100%;
  height: 100%; /* Que ocupe toda la altura disponible */
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}


@media screen and (max-width: 768px){
	html, body {
		background:#FFFFFA;
		height: 50%;
		margin: 0;
		
	}
	.content {
		min-height: calc(70vh - 100px);  /* Ajusta 100 px al tamaño de tu footer  */
	}

    .function-card{
        /* max-width: 90px; */
        text-align: center;
        align-items: center;
    }
    h2{
        text-align: center;
        align-items: center;
        
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 110%;
        position: absolute;
        top: 250px;
        left: 0;
        background-color: #333;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        padding: 5px;
        width: 100%;
        margin-top: 5px;
    }

    .burger {
        display: block;
    }

      .banner-bg {
    height: 200px;
    }

    .banner-bg h2 {
        font-size: 1.3rem;
    }
}

