
@import url("header.css");
@import url("footer.css");
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Si les gusta como queda inicial debemos poner este css en todos los otros niveles 
y ponerle nombre general ;)*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Andika", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}

header {
  width: 100%;
  top: 0;
  left: 0;
  background: #E1F5FE;
}

/* Subrayado con acento Usar en cada título para darle a todos el mismo estilo*/
.titulo-subrayado {
    display: inline-block;
    position: relative;
    margin-bottom: 40px;
}
.titulo-subrayado::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50%;
    height: 4px;
    background-color: #EF8C30;
    border-radius: 2px;
}


/* Listas personalizadas en sección Nivel Inicial */
section ul {
  list-style: none; /* Quita los bullets */
  padding-left: 0;
  margin-top: 0.5rem;
}

section ul li {
  position: relative;
  padding-left: 1.8rem; /* espacio para el icono */
  margin-bottom: 0.75rem;
  line-height: 1.6;
}

/* Icono de la lista */
section ul li::before {
  content: "•"; /* Se puede cambiar por "➜", "✔", etc */
  position: absolute;
  left: 0;
  top: 0;
  color: #0288D1;
  font-weight: bold;
}