

.clearfix {
  overflow: auto;
  margin: 10px;
}

/* Imagen flotante */
.img-float {
  max-width: 250px;
  margin: 10px;
}

.card-profesorados {
  background: linear-gradient(to right, #02293f, #046b9b, #02293f);
  color: #fff;
}


