.niveles-header {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.656), rgba(0, 0, 0, 0.585)),
    url('/assets/img/nivel-superior/nivelSuperior2025-01.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 20px; /* espacio interior */
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.card-profesorados {
  background: linear-gradient(to right, #02293f, #046b9b, #02293f);
  color: #fff;
}

