<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Breve descripción de tu página">
    <meta name="keywords" content="Palabras clave, SEO">
    <meta name="author" content="Tu nombre o compañía">
    <meta name="viewport" content="width=device-width">
    <!-- Título de la página -->
    <title>Instituto Brizuela</title>

    <!-- Enlace a las hojas de estilo (CSS) -->
     
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="preload" href="/templates/nivel_inicial.css" as="style">
    <link rel="stylesheet" href="/templates/nivel_inicial.css">

    <!-- Enlace a fuentes externas (Google Fonts) -->

<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Playfair+Display:wght@100..400&display=swap" rel="stylesheet">
<!-- Enlace a iconos de font -->


    <!-- Favicon (icono del sitio) -->
    <link rel="icon" href="/assets/img/logo1.ico" type="image/x-icon">
</head>
<body>

    <!-- Código de header -->
    <header>    
		<nav class="navbar">
            <div class="logo">
                <a href="#"><img src="./assets/img/logo1.ico" alt="Logo del Insituto"></a>
            </div>
            
        <ul class="nav-links">
				<li><a href="#"><i class="fa-solid fa-house"></i>Inicio</a></li>
                <li><a href="#"><i class="fa-solid fa-street-view"></i>Nuestra Historia</a></li>
				<li><a href="#"><i class="fa-solid fa-hand-holding-heart"></i>Identidad y Misión</a></li>
				<li><a href="#"><i class="fa-solid fa-handshake"></i>Administración</a></li>
				
			</ul>
        <div class="burger" onclick="toggleMenu()">  <!-- validación para menu hamburguesa -->
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <div class="lema">
                <h2>"A la luz del Evangelio, transformando la cultura <h2>
                   
                    
            </div>
		</nav>
	</header>
    <section>
        <h1>NIVEL INICIAL</h1>
    </section>
    

    <!-- Sección principal -->
    <main class="contenido-principal">

        <div class="container">
            <section class="texto-contenido">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac fringilla enim, quis aliquet ligula. Proin fermentum quam vitae nibh viverra volutpat. Sed vestibulum placerat blandit. Nunc pretium urna id metus commodo, non venenatis velit elementum. Aliquam maximus, justo id pharetra euismod, neque est hendrerit nulla, sollicitudin faucibus sapien velit at massa. Morbi id libero vitae lacus tristique consectetur eget id ligula. Fusce a elementum enim.
            
                    Donec eget diam hendrerit odio maximus convallis at ut augue. Ut semper vestibulum elit quis bibendum. Etiam vitae dignissim nisi, id congue libero. Aliquam pellentesque tortor purus, nec maximus est egestas sit amet. Nam ultrices pharetra libero a bibendum. Integer mi mauris, sagittis nec neque nec, egestas laoreet dolor. Pellentesque ac consectetur est. Ut nec congue purus, eu laoreet tellus. Suspendisse vitae erat erat.
                    
                    Maecenas quis neque laoreet, tempor eros at, porttitor ex. Nunc ullamcorper suscipit nibh. Cras blandit dictum ipsum in viverra. Suspendisse eros mi, vestibulum ut pretium ut, tristique ac purus. Pellentesque vitae feugiat eros, nec pellentesque dui. Nulla placerat ante et tristique ultrices. Morbi commodo ultricies diam. Curabitur nec feugiat risus. Duis sed massa sed magna rhoncus pharetra sed quis ante. Morbi a odio id elit molestie suscipit. Nullam quam ante, blandit eu libero non, euismod mollis lacus. In hac habitasse platea dictumst. Aenean ac ultrices nunc, vel sollicitudin eros. Quisque molestie, nisi non sagittis semper, dui sem eleifend arcu, vel ornare libero arcu at velit. Vivamus accumsan sapien efficitur arcu tempor, et euismod leo efficitur. </p>   
            </section>
            
               <section class="imagen-contenido">
                <img src="/assets/img/InicialJardin.jpg" alt="JardinDeInfantes">
               </section>

        </div>
  
    </main>

    <section>
        <h2>CONTACTO</h2>
        <form>
            <fieldset>
                <legend>Contactanos</legend>
                <div>
                    <label for="Nombre">Nombre</label>
                    <input type="text" placeholder="Nombre">
                </div>
                
                <div>
                    <label for="Email">Email</label>
                    <input type="email" placeholder="Email">
                </div>
                
                <div>
                    <label for="Telefono">Teléfono</label>
                    <input type="tel" placeholder="Teléfono">
                </div>
                
                <div>
                    <label for="Mensaje">Mensaje</label>
                    <textarea name="Mensaje" id="Mensaje"></textarea>
                </div>
                
                <div>
                    <input type="submit" value="Enviar">
                </div>
                

            </fieldset>
        </form>
    </section>

    <!-- Estructura del footer -->
    <footer>
                
        <div class="icons">
            <div class="floating-icon">
                <img src="assets/img/logo diócesis.jpg" alt="Diócesis">
            </div>
        </div>
    </div>
    
    <div class="footer">
        <button id="icono" class="icono"><i class="fa-regular fa-address-book"></i></button>
    </div>
    <div id="popup" class="popup">
        <p>Teléfono nivel incial y primario: 3544-420214 - Nivel secundario y superior: 3544-420383 <br> mail: institutobrizuela@gmail.com <span id="cerrar" class="cerrar"><i class="fa-regular fa-circle-xmark"></i></span></p>
    </div>
    
        

        <p>Ciclo lectivo 2025 || © Instituto Brizuela </p>

    </footer>

    <!-- Archivos JavaScript -->
    <script src="https://kit.fontawesome.com/84a6577e66.js" crossorigin="anonymous"></script>
    <script src="assets/js/index.js"></script>
    <script src="assets/js/img.js"></script>
    
</body>
</html>
